{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Vivostream</h1>
                    <h3 style="color:gold">The premier cloud gaming solution!</h3>
                    
                    <hr class="intro-divider">
                    <h4>Vivostream is a cloud-based video game streaming service that allows users to play, broadcast and share video games within a browser or on any stream compatible device without the need of high-performance hardware or software.</h4>
                    <hr class="intro-divider">
                    <h4>Vivostream allows users to play video games even on devices with weak hardware by running the games on the data center hardware and then streaming the video output to the users’ devices. Therefore, this removes the high initial cost of traditional gaming hardware such as computers or consoles. Another benefit of being user hardware agnostic is that the user would no longer have to spend money upgrading their hardware every few years to meet the increasing computing requirements of new games. </h4>
                    <hr class="intro-divider">
                    <h3 style="color:gold">Features</h3>
                           <h4>:- Play – users can play a variety of games without having to buy expensive hardware.
                            <br>:- Connect – users can instantly collaborate (link) with other users in a multi-player environment.
                            <br>:- Share – users can share their gameplay feeds as well as view streams of another players’ gameplay.</h4>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
